.user-interaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-interaction__login {
  font-size: 0.875rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--main-red-color);
  margin-right: 1rem;
}

.user-interaction__basket {
  cursor: pointer;
}
